* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilizando body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#15470f,#73bf62);
    color: #73bf62;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
}
/* estilizndo o header */
header {
    z-index: 1000;
    background: linear-gradient(#15470f, #002b00);
    padding: 20px;
    text-align: center;
    color: white;
    position: fixed;    /* Deixa fixo */
    top: 0;             /* Cola no topo */
    width: 100%;        /* Ocupa toda a largura */
    z-index: 1000;  
}

/* navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #73bf62;
    border-radius: 5px;
}

/* conteudo principal */
main {
    flex: 1;
    padding: 120px 20px 40px;
    text-align: center;
}

/* section boa- vindas */
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 20px #002b00;
}
.welcome h2 {
    margin-bottom: 10px;
    color: #ffffffd7;
}

.welcome p {
    font-size: 18px;
    max-width: 800px;
    line-height: 1.6;
}

/* section como chegar */
.como-chegar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.como-chegar h2 {
    margin-bottom: 20px;
    color: #ffffffd7;
}
.como-chegar p {
    font-size: 18px;
    max-width: 800px;
    line-height: 1.6;
}

.mapa {
    width: 88%;
    max-width: 800px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* rodapé */
footer {
    background: linear-gradient(#73bf62, #15470f);
    color: white;
    text-align: center;
    padding: 15px;
}

/* pagina de restaurantes */
.restaurante-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.restaurante-box {
    background-color: white;
    border-radius:  12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.restaurante-box:hover {
    transform: scale(1.05);
}

.restaurante-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.restaurante-box h3 {
    color: #034e23;
    margin-bottom: 10px;
}

.restaurante-box p {
    font-size: 0.95rem;
    color: #555;
}